@model System.Collections.Generic.List<VendorOrderTracker.Models.Vendor>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor List</title>
  </head>
  <body>
    <p>Here is some stuff.</p>
    <table>
      @foreach (var item in Model)
      {
      <tr>
        <td>@item.VendorName</td>
        <td>@item.VendorDesc</td>
      </tr>
      } 
    </table>
    <p>@Html.ActionLink("Form to add a new vendor", "Index", "VendorForm")</p>
  </body>
</html>